<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="restaurant finder">
    <title>IkaFood's Resto</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
</head>

<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header>
        <nav id="drawer">
            <div class="nav-content">
                <div class="nav-brand">
                    <h1>IkaFood's Resto</h1>
                </div>
                <a id="hamburger" href="#" aria-label="navigation-menu">☰</a>
                <ul class="nav-menu">
                    <li class="nav-item"><a href="index.html">HOME</a></li>
                    <li class="nav-item"><a href="#">FAVORITE</a></li>
                    <li class="nav-item"><a href="https://github.com/ikaalfiyahnoviana" rel="noreferrer"
                            target="_blank">ABOUT US</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="hero">
        <div class="hero__content">
            <h1>Find Your Favorite Food at IkaFood's Resto </h1>
            <p>One should eat to live, not live to eat</p>
        </div>
    </div>
    <main id="maincontent">
        <section class="content">
            <div class="recomended">
                <h1 class="recomended__label">Most Recomended</h1>
                <div class="recomend">

                </div>
            </div>
            <div class="restaurant">
                <h1 class="restaurant__label">Explore Restaurant</h1>
                <div class="resto">

                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-menu">
            <ul>
                <li><a href="#">HELP</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </div>
        <p>Copyright &copy; 2022 - IkaFood's Resto</p>
    </footer>
</body>

</html>